<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.prime.com.tr/ui"
	xmlns:aut="http://bci.cl/facelets/autorizadorWeb"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:segundaclaveparametros="http://bci.cl/infraestructura.web/seguridad/segundaclave"
	xmlns:segundaclave="http://java.sun.com/jsf/composite/segundaclave">
<h:head>
	<h:outputStylesheet
		library="Webbci/empresa/productos/servicios/ripple/css"
		name="ripple.css" />
	<h:outputStylesheet library="Webbci/pyme/css" name="screen.css" />
	<h:outputScript name="global.js" library="Webbci/common/js"
		target="head" />
	<h:outputScript library="Webbci/empresa/productos/servicios/ripple/js"
		name="ripple.js" />
	<h:outputStylesheet library="Webbci/common/css"
		name="jquery.fancybox-1.3.4.css" />
	<f:loadBundle
		basename="#{resolutorResourceBundleMB.obtieneResourceBundle('cl.bci.aplicaciones.productos.servicios.transferenciaripple.transferenciaRipple')}"
		var="msg" />
</h:head>
<h:body id="home-nsc">
	<h:outputScript target="head">
$ = jQuery;
</h:outputScript>
	<div class="container-fluid">
		<h2 class="tit-nsc">
			<h:outputText value="#{msg.tituloPendienteFirma}" />
		</h2>
	</div>
	<h:form id="panoramaForm" autocomplete="off">
		<h:inputHidden id="vSele"
			value="#{transferenciasRippleViewMB.radioSeleccionado}" />
		<h:inputHidden id="iHNumeroCorrelativo"
			value="#{transferenciasRippleBackingMB.numeroCorrelativo}" />
		<div class="panel panel-default">
			<div class="panel-heading">
				<b class="lead"> <h:outputText
						value="#{msg.operacionesPendientes} " />
				</b>
			</div>
			<div class="panel-body">
				<div id="operaciones_wrapper"
					class="dataTables_wrapper form-inline dt-bootstrap no-footer">
					<div class="simple-margin">
						<p:outputPanel id="tablaPendientesPanel"
							styleClass="display-block">
							<p:dataTable id="tablaPendiente" var="tPendiente"
								paginator="true" widgetVar="tPendiente"
								value="#{transferenciasRippleBackingMB.getTransferenciasPendientes()}"
								paginatorPosition="bottom" emptyMessage="msg.noHayRegistros"
								paginatorTemplate=" {CurrentPageLink} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink}"
								styleClass="borderless tablaPendiente"
								rows="#{transferenciasRippleViewMB.registrosPorPagina}"
								rowKey="#{tPendiente.numeroOperacion}">
								<f:facet name="header" class="color">
									<div class="col-sm-6 alineacion-izquierda">
										<div id="operaciones_length">
											<label class="simple-label">#{msg.mostrar} <h:selectOneMenu
													id="selectOneDestinatario"
													styleClass="form-control input-sm"
													value="#{transferenciasRippleViewMB.registrosPorPagina}">
													<f:selectItem itemLabel="#{msg.numeroDiez}"
														itemValue="#{msg.numeroDiez}" />
													<f:selectItem itemLabel="#{msg.numeroVeinticinco}"
														itemValue="#{msg.numeroVeinticinco}" />
													<f:selectItem itemLabel="#{msg.numeroCincuenta}"
														itemValue="#{msg.numeroCincuenta}" />
													<f:selectItem itemLabel="#{msg.numeroCien}"
														itemValue="#{msg.numeroCien}" />
													<f:ajax event="change"
														render=":panoramaForm:tablaPendiente" immediate="true" />
												</h:selectOneMenu> #{msg.registrosPorPagina}
											</label>
											<p:column headerText="#{msg.fechaOperacion}"
												styleClass="col-15porc"
												sortBy="#{tPendiente.fechaOperacion}">
												<h:outputText value="#{tPendiente.fechaOperacion}">
													<f:convertDateTime for="fechaOperacion"
														pattern="#{msg.fechaPattern}" locale="#{msg.localeCL}" />
												</h:outputText>
											</p:column>
										</div>
									</div>
									<div class="col-sm-6 alineacion-derecha buscador">
										<p:outputPanel>
											<h:panelGroup layout="block">
												<p:outputPanel>
													<h:outputText class="simple-label" value="#{msg.buscar} " />
													<p:inputText id="globalFilter" autocomplete="off" value=" "
														onkeyup="tPendiente.filter();"
														styleClass="caja-busca filtering"
														onkeydown="if(event.keyCode == 13) return false;" />
													<p:watermark for="globalFilter" value="" />
												</p:outputPanel>
											</h:panelGroup>
										</p:outputPanel>
									</div>
								</f:facet>
								<p:column styleClass="col-5porc">
									<h:selectBooleanCheckbox
										action="#{transferenciasRippleBackingMB.ocultarComponenteSegundaClave()}"
										class="checkbox-selection" id="rbCheck">
										<f:ajax event="click"
											listener="#{transferenciasRippleBackingMB.ocultarComponenteSegundaClave()}" />
									</h:selectBooleanCheckbox>
								</p:column>
								<p:column headerText="#{msg.numeroOperacion}"
									id="cCorrelativoInterno"
									filterBy="#{tPendiente.correlativoInterno}"
									filterMatchMode="contains" styleClass="col-15porc"
									sortBy="#{tPendiente.correlativoInterno}">
									<p:commandLink styleClass="custom-blue"
										value="#{tPendiente.correlativoInterno}"
										update=":panoramaForm:display"
										onclick="dlgEspera.show(); segundC();"
										onsuccess="dlgEspera.hide();dlg.show();"
										actionListener="#{transferenciasRippleBackingMB.desplegarDetalle(tPendiente,'PENDIENTE')}">
										<f:actionListener
											binding="#{transferenciasRippleBackingMB.ocultarComponenteSegundaClave()}"
											execute="@form" render="@form" />
									</p:commandLink>
								</p:column>
								<p:column headerText="#{msg.beneficiario}"
									filterBy="#{tPendiente.beneficiario.nombre}"
									filterMatchMode="contains" styleClass="col-25porc"
									sortBy="#{tPendiente.beneficiario.nombre}">
									<h:outputText value="#{tPendiente.beneficiario.nombre}" />
								</p:column>
								<p:column headerText="#{msg.pais}" styleClass="col-15porc"
									sortBy="#{tPendiente.beneficiario.paisCuenta.valor}">
									<h:outputText
										value="#{tPendiente.beneficiario.paisCuenta.valor}" />
								</p:column>
								<p:column headerText="#{msg.moneda}" styleClass="col-15porc"
									sortBy="#{tPendiente.cuentaOrigen.moneda.valor}">
									<h:outputText value="#{tPendiente.cuentaOrigen.moneda.valor}" />
								</p:column>
								<p:column headerText="#{msg.monto}" styleClass="col-15porc"
									sortBy="#{tPendiente.montoTransferir}">
									<h:outputText value="#{tPendiente.montoTransferir}">
										<f:convertNumber pattern="#{msg.numberPattern}"
											locale="#{msg.localeCL}" />
									</h:outputText>
								</p:column>
							</p:dataTable>
						</p:outputPanel>
						<p:dialog id="dialogo" widgetVar="dlg" modal="true" width="760"
							height="650" closable="true" apgitpendToBody="false"
							resizable="false" draggable="false" zindex="999">
							<p:outputPanel id="display" styleClass="display-block">
								<ui:include src="verDetalleTransferenciaRipple.xhtml" />
							</p:outputPanel>
						</p:dialog>
						<p:dialog id="dialogoEspera" widgetVar="dlgEspera" modal="true"
							width="760" height="500" closable="true" resizable="false"
							draggable="false" zindex="999">
						</p:dialog>
						<p:dialog id="dialogoEl" widgetVar="dlgEl" modal="true"
							width="300" height="250" closable="true"
							onClosableUpdate=":panoramaForm:tablaPendiente"
							appendToBody="false" resizable="false" draggable="false"
							zindex="999">
							<div class="row">
								<div class="row">
									<div class="ui-g-12 centerImg">
										<div class="imagen-borrar"></div>
									</div>
								</div>
								<div class="ui-g-12 center">
									<h3>
										<h:outputText value="#{msg.confirmarEliminacion}" />
									</h3>
									<h:outputText value="#{msg.OperaciónEliminar}" />
									<h:outputText
										value="#{transferenciasRippleBackingMB.numeroCorrelativo}" />
								</div>
								<div class="ui-g-12 center">
									<br />
									<h:commandButton class="btn btn-primary btn-aE"
										value="#{msg.aceptarEliminar}" onsuccess="dlgEl.hide();"
										action="#{transferenciasRippleBackingMB.eliminarTransferenciaPendienteRipple()}"
										type="submit">
									</h:commandButton>
								</div>
							</div>
						</p:dialog>
					</div>
					<div class="fondo_bottom_info_cliente">&nbsp;</div>
				</div>
				<div class="row">
					<div class="col-sm-12 text-center">
						<h:commandButton id="btnEliminar"
							update=":panoramaForm:tablaPendiente"
							class="btn btn-danger simple-margin checkbox-radio"
							rel="btn-eliminar" disabled="true" value="#{msg.btnEliminar}"
							onclick="dlgEl.show();" type="button" />
						<h:commandButton id="btnFirmar"
							class="btn btn-success simple-margin checkbox-radio"
							value="#{msg.btnFirmar}"
							action="#{transferenciasRippleBackingMB.validarPermisoSegundaClave()}"
							type="button">
							<f:ajax render="panoramaForm:seC" event="click"
								onevent="confirmarFirmar"
								listener="#{transferenciasRippleBackingMB.validarPermisoSegundaClave()}" />
						</h:commandButton>
					</div>
				</div>
				<br />
			</div>
			<br />
		</div>
		<br />
		<h:panelGroup id="seC">
			<div id="confirmaFirma">
				<div id="tf_confirmacion">
					<h:panelGroup
						rendered="#{transferenciasRippleViewMB.mostrarSegundaClave}">
						<segundaclave:metodoAutenticacion id="segundaclave"
							servicio="TransferenciasMxUnoAUno" layout="vertical"
							bindingComponent="transferenciasRippleBackingMB.segundaClave"
							textoButtonAction="#{msg.btnConfirmar}"
							destinoButtonAction="#{transferenciasRippleBackingMB.aceptarTransferenciaRipplePen()}"
							destinoButtonRetorno="#{transferenciasRippleBackingMB.volver}"
							textoButtonRetorno="#{msg.btnVolver}" mensaje="">
						</segundaclave:metodoAutenticacion>
					</h:panelGroup>
				</div>
			</div>
		</h:panelGroup>
	</h:form>
</h:body>
</html>

<!--
/***************************************************************************************************************
* Archivo:             autorizarTransferenciasPendientesRipple.xhtml
* Descripción          Vista de detalle de transferencias pendientes Ripple.
* Path                 /cl/bci/aplicaciones/productos/servicios/transferencia/ripple/autorizarTransferenciasPendientesRipple.xhtml
* " Todos los derechos reservados por Banco de Crédito e Inversiones."              
* Historia Cambios
* ______________________
* versión   fecha         autor                                       				  cambios
* =======   ==========    ========================================== 				  =================================
* 1.0       06/03/2019    Raul E Perez (Everis) - Minheli Mejias (Ing. Soft. BCI)     versión inicial.
****************************************************************************************************************/
 -->