<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.prime.com.tr/ui"
	xmlns:aut="http://bci.cl/facelets/autorizadorWeb"
	xmlns:ui="http://java.sun.com/jsf/facelets">
<h:head>
	<h:outputStylesheet
		library="Webbci/empresa/productos/servicios/ripple/css"
		name="ripple.css" />
	<f:loadBundle
		basename="#{resolutorResourceBundleMB.obtieneResourceBundle('cl.bci.aplicaciones.productos.servicios.transferenciaripple.transferenciaripple')}"
		var="msg" />
</h:head>
<h:body>
	<div class="container-fluid">
		<h:form>
			<div class="top-left">
				<div class="icono-imprimir">
					<h:commandLink
						action="#{transferenciasRippleBackingMB.generarComprobanteTransferenciaRipple}"
						title="#{msg.generarPDF}" value="#{msg.generarPDF}"
						target="_blank">
	  				</h:commandLink>
				</div>
			</div>
			<h:panelGroup layout="block"
				rendered="#{transferenciasRippleViewMB.origenComprobante == msg.paso2Texto}">
				<h2 class="tit-nsc">
					<h:outputText value="#{msg.titulo}" />
				</h2>
				<!-- Horizontal Steppers -->
				<div class="row">
					<div class="col-md-12">
						<!-- Stepers Wrapper -->
						<ul class="stepper stepper-horizontal">
							<!-- First Step -->
							<li class="completed"><span class="circle"><h:outputText
										value="#{msg.numeroUno}" /></span> <span class=""><h:outputText
										value="#{msg.paso1Texto}" /></span></li>
							<!-- Second Step -->
							<li class="completed"><span class="circle"><h:outputText
										value="#{msg.numeroDos}" /></span> <span class=""><h:outputText
										value="#{msg.paso2Texto}" /></span></li>
							<!-- Third Step -->
							<li class="active"><span class="circle"><h:outputText
										value="#{msg.numeroTres}" /></span> <span class=""><h:outputText
										value="#{msg.paso3Texto}" /></span></li>
						</ul>
					</div>
				</div>
			</h:panelGroup>
			<h:inputHidden value="#{transferenciasRippleBackingMB.mensajeError}" />
			<div class="panel panel-default">
				<div class="panel-heading">
					<b class="lead"><h:outputText value="#{msg.paso3Texto}" /></b>
				</div>
				<div class="panel-body">
					<div class="well">
						<div class="row">
							<div class="col-sm-12">
								<div class="col-sm-3">
									<div class="imagen-sello"></div>
								</div>
								<h:panelGroup layout="block"
									rendered="#{transferenciasRippleViewMB.estadoTransaccion != msg.operacionRechazada}">
									<div class="col-sm-9">
										<div class="col-sm-10">
											<h3 class="text-success">
												#{msg.operacion}
												<h:outputText
													value=" #{transferenciasRippleViewMB.estadoTransaccion}" />
												<strong>#{msg.exitosamente} </strong>
											</h3>
										</div>

										<div class="col-sm-2">
											<!-- 																						imagen-aprobado </div> -->
										</div>
										<div class="col-sm-12">
											<h:panelGroup layout="block"
												rendered="#{transferenciasRippleViewMB.estadoTransaccion == msg.operacionIngresada or transferenciasRippleViewMB.estadoTransaccion == msg.operacionFirmada}">
												<p>
													<h:outputText value="#{msg.mensajeComprobacion}" />
												</p>
											</h:panelGroup>
											<h:panelGroup layout="block"
												rendered="#{transferenciasRippleViewMB.estadoTransaccion == msg.operacionEnviada}">
												<p>
													<h:outputText value="#{msg.mensajeConfirmacion}" />
												</p>
											</h:panelGroup>
										</div>
										<div class="col-sm-6">
											<label><h:outputText
													value="#{msg.nombreBeneficiario}" /></label>
											<p>
												<h:outputText
													value="#{transferenciasRippleViewMB.transferenciaSelected.beneficiario.nombre}" />
											</p>
										</div>
										<div class="col-sm-6">
											<label><h:outputText
													value="#{msg.numeroDeCuentaIBAN}" /></label>
											<p>
												<h:outputText
													value="#{transferenciasRippleViewMB.transferenciaSelected.cuentaCorrienteBene}" />
											</p>
										</div>
										<div class="col-sm-6">
											<label><h:outputText
													value="#{msg.montoTransferencia}" /></label>
											<p>
												<h:outputText
													value="#{transferenciasRippleViewMB.transferenciaSelected.montoTransferir}" />
											</p>
										</div>
										<div class="col-sm-6">
											<label><h:outputText
													value="#{msg.cuentaCargoComision}" /></label>
											<p>
												<h:outputText
													value="#{transferenciasRippleViewMB.transferenciaSelected.cuentaCargoComision.numeroCuenta}" />
											</p>
										</div>
										<div class="col-sm-12">
											<label><h:outputText value="#{msg.fechaOperacion}" /></label>
											<p>
												<h:outputText value="#{transferenciasRippleViewMB.transferenciaSelected.fechaOperacion}"/>
											</p>
										</div>
									</div>
								</h:panelGroup>
								<h:panelGroup layout="block"
									rendered="#{transferenciasRippleViewMB.estadoTransaccion == msg.operacionRechazada}">
									<div class="col-sm-9">
										<div class="col-sm-10">
											<h3 class="text-danger">
												#{msg.operacion} <strong>
													#{transferenciasRippleViewMB.estadoTransaccion}"</strong>
											</h3>
										</div>
										<div class="col-sm-2">
											
										</div>
									</div>
								</h:panelGroup>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-sm-3 col-sm-offset-3">
							<h:commandButton type="submit"
								styleClass="btn btn-default btn-bloc"
								value="#{msg.btnIrTransferencia}">
							</h:commandButton>
						</div>
						<div class="col-sm-3">
							<h:commandButton type="submit"
								styleClass="btn btn-block btn-success"
								action="#{transferenciasRippleBackingMB.combrobanteFinalizar}"
								value="#{msg.btnFinalizar}">
							</h:commandButton>
						</div>
					</div>
				</div>
			</div>
		</h:form>
	</div>
</h:body>
</html>
<!--
/***************************************************************************************************************
* Archivo:             comprobanteTransferenciasRipple.xhtml
* Descripción          Vista de comprobación de transferencias Ripple.
* Path                 /weblogic/fuentes/webAppCluster/public_html/cl/bci/aplicaciones/productos/servicios/transferencia/ripple/comprobanteTransferenciasRipple.xhtml
* " Todos los derechos reservados por Banco de Crédito e Inversiones."              
* Historia Cambios
* _____________________
* versión   fecha         autor                                             			cambios
* =======   ==========    ==========================================     			   =================================
* 1.0       25/02/2019    Raúl Perez S (Everis)- Minheli Mejias (Ing. Soft. BCI)        versión inicial.
****************************************************************************************************************/
 -->