<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.prime.com.tr/ui"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:aut="http://bci.cl/facelets/autorizadorWeb"
	xmlns:segundaclaveparametros="http://bci.cl/infraestructura.web/seguridad/segundaclave"
	xmlns:segundaclave="http://java.sun.com/jsf/composite/segundaclave">
<h:head>
	<h:outputStylesheet
		library="Webbci/empresa/productos/servicios/ripple/css"
		name="ripple.css" />
	<h:outputScript library="Webbci/common/js" name="jquery-1.5.2.min.js" />
	<h:outputScript library="Webbci/empresa/productos/servicios/ripple/js"
		name="ripple.js" />
	<f:loadBundle
		basename="#{resolutorResourceBundleMB.obtieneResourceBundle('cl.bci.aplicaciones.productos.servicios.transferenciaripple.transferenciaripple')}"
		var="msg" />
</h:head>
<h:body>
	<f:metadata>
		<f:viewParam name="saldoDisponible"
			value="#{confirmarTransferenciaRippleBackingMB.saldoDisponible}" />
	</f:metadata>
	<h2 class="tit-nsc">
		<h:outputText value="#{msg.titulo}" />
	</h2>
	<div class="row">
		<div class="col-md-12">
			<!-- Stepers Wrapper -->
			<ul class="stepper stepper-horizontal">
				<!-- First Step -->
				<li class="completed"><span class="circle"><h:outputText
							value="#{msg.numeroUno}" /></span> <span class="activo"></span> <h:outputText
						value="#{msg.paso1Texto}" /></li>
				<!-- Second Step -->
				<li class="active"><span class="circle"><h:outputText
							value="#{msg.numeroDos}" /></span> <span class=""><h:outputText
							value="#{msg.paso2Texto}" /></span></li>
				<!-- Third Step -->
				<li class=""><span class="circle"><h:outputText
							value="#{msg.numeroTres}" /></span> <span class=""><h:outputText
							value="#{msg.paso3Texto}" /></span></li>
			</ul>
		</div>
	</div>
	<h:form id="form_contratar">
		<!-- 	Datos del destinatario -->
		<h:inputHidden id="iHNombreDest"
			value="#{confirmarTransferenciaRippleBackingMB.transferenciaRipple.datosDestin.destinatario}" />
		<input id="iHMonedaTransf" type="hidden"
			value="#{confirmarTransferenciaRippleBackingMB.transferenciaRipple.datosDestin.monedaTransf}" />
		<h:inputHidden id="iHPaisCuenta"
			value="#{confirmarTransferenciaRippleBackingMB.transferenciaRipple.datosDestin.paisCuenta}" />
		<h:inputHidden id="iHNumeroDeCuentaIBAN"
			value="#{confirmarTransferenciaRippleBackingMB.transferenciaRipple.datosDestin.numeroCuenta}" />
		<h:inputHidden id="iHRefDest"
			value="#{confirmarTransferenciaRippleBackingMB.transferenciaRipple.datosDestin.referencia}" />

		<!-- Datos del beneficiario -->
		<h:inputHidden id="iHNombre"
			value="#{confirmarTransferenciaRippleBackingMB.transferenciaRipple.datosBenef.nombre}" />
		<h:inputHidden id="iHDireccion"
			value="#{confirmarTransferenciaRippleBackingMB.transferenciaRipple.datosBenef.direccion}" />
		<h:inputHidden id="iHMail"
			value="#{confirmarTransferenciaRippleBackingMB.transferenciaRipple.datosBenef.email}" />
		<h:inputHidden id="iHPais"
			value="#{confirmarTransferenciaRippleBackingMB.transferenciaRipple.datosBenef.pais}" />

		<!-- 		Datos de la transferencia -->
		<h:inputHidden
			value="#{confirmarTransferenciaRippleBackingMB.motivoPago}" />
		<h:inputHidden
			value="#{confirmarTransferenciaRippleBackingMB.strMontoATransferir}" />
		<h:inputHidden
			value="#{confirmarTransferenciaRippleBackingMB.cuentaOrigen.numeroCuenta}" />
		<h:inputHidden
			value="#{confirmarTransferenciaRippleBackingMB.codigoCambio.codigoCambio}" />
		<h:inputHidden value="#{confirmarTransferenciaRippleBackingMB.key}" />
		<h:inputHidden id="iHCuentaComision"
			value="#{confirmarTransferenciaRippleBackingMB.cuentaCargoComision.numeroCuenta}" />

		<!-- 			Datos del banco -->
		<h:inputHidden id="iHNombreDireccion"
			value="#{confirmarTransferenciaRippleBackingMB.transferenciaRipple.datosBanco.nombreDireccion}" />
		<h:inputHidden id="iHBIC"
			value="#{confirmarTransferenciaRippleBackingMB.transferenciaRipple.datosBanco.codigoSwift}" />
		<h:inputHidden id="iHCodCambio"
			value="#{confirmarTransferenciaRippleBackingMB.transferenciaRipple.datosBanco.codigoCambio}" />

		<h:inputHidden id="iHNCodMon"
			value="#{confirmarTransferenciaRippleBackingMB.monedaRipple.codigoIso}" />

		<h:inputHidden id="iHNNomMon"
			value="#{confirmarTransferenciaRippleBackingMB.monedaRipple.nombreMoneda}" />

		<h:inputHidden id="iHSalSim"
			value="#{confirmarTransferenciaRippleBackingMB.simboloMoneda}" />

		<h:panelGroup id="mensajeNegocio">
			<h:panelGroup rendered="#{transferenciasRippleViewMB.errorNegocio}"
				layout="bolck">
				<div class="mensaje-alerta">
					<p>
						<h:outputText
							value="#{transferenciasRippleViewMB.mensajeErrorNegocio}" />
					</p>
				</div>
			</h:panelGroup>
		</h:panelGroup>
		<div class="panel panel-default">
			<div class="panel-heading">
				<b class="lead"><h:outputText value="#{msg.paso2Texto}" /></b>
			</div>
			<div class="panel-body">
				<div class="row">
					<div class="col-sm-12">
						<p class="lead">
							<h:outputText value="#{msg.paso1Texto}" />
						</p>
					</div>
					<div class="col-sm-4">
						<label for="moneda-transf"><h:outputText
								value="#{msg.monedaTransferencia}" /></label>
						<p>
							<h:outputText
								value="#{confirmarTransferenciaRippleBackingMB.monedaRipple.nombreMoneda}" />
						</p>
					</div>
					<div class="col-sm-4">
						<label for="cuenta-origen"><h:outputText
								value="#{msg.cuentaOrigen}" /></label>
						<p>
							<h:outputText
								value="#{confirmarTransferenciaRippleBackingMB.cuentaOrigen.numeroCuenta}" />
						</p>
					</div>
					<div class="col-sm-4">
						<label for="saldo-disponible"><h:outputText
								value="#{msg.saldoDisponible}" /></label>
						<p class="mega text-success">
							<h:outputText
								value="#{confirmarTransferenciaRippleBackingMB.simboloMoneda}" />
						</p>
					</div>
				</div>
				<div class="row">
					<div class="col-sm-4">
						<div class="form-group">
							<label for="monto-liq" class=""><h:outputText
									value="#{msg.montoTransferir}" /></label>
							<p class="mega text-primary">
								<h:outputText
									value="#{confirmarTransferenciaRippleBackingMB.strMontoATransferir}" />
							</p>
						</div>
					</div>
					<div class="col-sm-4 form-group">
						<label for="cuenta-com"><h:outputText
								value="#{msg.monedaComision}" /></label>
						<h:selectOneMenu
							styleClass="select2 form-control select2-hidden-accessible validar"
							title="#{msg.seleccioneMoneda}" id="codigoIso"
							value="#{confirmarTransferenciaRippleBackingMB.monedaOtraCuenta.codigoIso}">
							<f:selectItem itemLabel="Seleccione" itemValue="0" />
							<f:selectItems
								value="#{confirmarTransferenciaRippleBackingMB.monedasOtrasCuentas}"
								var="item" itemLabel="#{item.nombreMoneda}"
								itemValue="#{item.codigoIso}" />
							<f:ajax event="change"
								listener="#{confirmarTransferenciaRippleBackingMB.cambiaSeleccionOtraMoneda}"
								immediate="true" render=":form_contratar:monedasComisionN" />
						</h:selectOneMenu>
					</div>
					<div class="col-sm-4 form-group">
						<label for="cuenta-com"><h:outputText
								value="#{msg.cuentaCargoComision}" /></label>
						<h:selectOneMenu id="monedasComisionN"
							styleClass="select2 form-control select2-hidden-accessible"
							title="#{msg.monedaComision}"
							value="#{confirmarTransferenciaRippleBackingMB.cuentaComision}">
							<f:selectItem itemLabel="Seleccione" itemValue="0" />
							<f:selectItems
								value="#{confirmarTransferenciaRippleBackingMB.cuentasComision}"
								var="item" itemLabel="#{item.numeroCuenta}" itemValue="0" />
						</h:selectOneMenu>
					</div>
				</div>
				<div class="row">
					<div class="col-sm-12">
						<label for="motivo"><h:outputText
								value="#{msg.motivoDetalleTransferencia}" /> </label>
						<p>
							<h:outputText
								value="#{confirmarTransferenciaRippleBackingMB.motivoPago}" />
						</p>
					</div>
				</div>

				<!-- 						Datos del destinatario -->
				<div class="row">
					<hr></hr>
					<div class="col-sm-12">
						<p class="lead">
							<h:outputText value="#{msg.datosDestinatario}" />
						</p>
					</div>
				</div>
				<div class="form-group row">
					<label for="destinatario" class="col-sm-3"><h:outputText
							value="#{msg.destinatario}" />:</label>
					<div class="col-sm-9">
						<p class="mega text-primary">
							<h:outputText id="nombreDest"
								value="#{confirmarTransferenciaRippleBackingMB.transferenciaRipple.datosDestin.destinatario}" />
						</p>
					</div>
				</div>
				<div class="row">
					<div class="col-sm-3">
						<label><h:outputText value="#{msg.monedaTransferencia}" /></label>
						<p>
							<h:outputText
								value="#{confirmarTransferenciaRippleBackingMB.monedaRipple.nombreMoneda}" />
						</p>
					</div>
					<div class="col-sm-3">
						<label><h:outputText value="#{msg.paisCuenta}" /></label>
						<p>
							<h:outputText
								value="#{confirmarTransferenciaRippleBackingMB.transferenciaRipple.datosDestin.paisCuenta}" />
						</p>
					</div>
					<div class="col-sm-3">
						<label><h:outputText value="#{msg.numeroDeCuentaIBAN}" /></label>
						<p>
							<h:outputText
								value="#{confirmarTransferenciaRippleBackingMB.transferenciaRipple.datosDestin.numeroCuenta}" />
						</p>
					</div>
					<div class="col-sm-3">
						<label><h:outputText value="#{msg.referencia}" /></label>
						<p>
							<h:outputText
								value="#{confirmarTransferenciaRippleBackingMB.transferenciaRipple.datosDestin.referencia}" />
						</p>
					</div>
				</div>

				<div class="row">
					<hr></hr>
					<div class="col-sm-12">
						<p class="lead">
							<h:outputText value="#{msg.datosBeneficiario}" />
						</p>
					</div>
					<div class="col-sm-3">
						<label><h:outputText value="#{msg.nombre}" /></label>
						<p>
							<h:outputText
								value="#{confirmarTransferenciaRippleBackingMB.transferenciaRipple.datosBenef.nombre}" />
						</p>
					</div>
					<div class="col-sm-3">
						<label><h:outputText value="#{msg.direccion}" /></label>
						<p>
							<h:outputText
								value="#{confirmarTransferenciaRippleBackingMB.transferenciaRipple.datosBenef.direccion}" />
						</p>
					</div>
					<div class="col-sm-3">
						<label><h:outputText value="#{msg.mail}" /></label>
						<p>
							<h:outputText
								value="#{confirmarTransferenciaRippleBackingMB.transferenciaRipple.datosBenef.email}" />
						</p>
					</div>
					<div class="col-sm-3">
						<label><h:outputText value="#{msg.pais}" /></label>
						<p>
							<h:outputText
								value="#{confirmarTransferenciaRippleBackingMB.transferenciaRipple.datosBenef.pais}" />
						</p>
					</div>
				</div>

				<div class="row">
					<hr></hr>
					<div class="col-sm-12">
						<p class="lead">
							<h:outputText value="#{msg.datosBancoBeneficiario}" />
						</p>
					</div>
					<div class="col-sm-6">
						<label><h:outputText value="#{msg.bci}" /></label>
						<p>
							<h:outputText
								value="#{confirmarTransferenciaRippleBackingMB.transferenciaRipple.datosBanco.codigoSwift}" />
						</p>
					</div>
					<div class="col-sm-6">
						<label><h:outputText value="#{msg.nombreDireccion}" /></label>
						<p>
							<h:outputText
								value="#{confirmarTransferenciaRippleBackingMB.transferenciaRipple.datosBanco.nombreDireccion}" />
						</p>
					</div>
				</div>

				<div class="form-group row">
					<label for="cod-cambio" class="col-sm-3"><h:outputText
							value="#{msg.codigoCambio}" />:</label>
					<div class="col-sm-9">
						<p>
							<h:outputText
								value="#{confirmarTransferenciaRippleBackingMB.transferenciaRipple.datosBanco.codigoCambio}" />
						</p>
					</div>
				</div>
			</div>
		</div>

		<!-- Destinatario -->
		<div class="panel panel-default">
			<div class="panel-heading">
				<b class="lead"><h:outputText value="#{msg.comisiones}" /></b>
			</div>
			<div class="panel-body">
				<div class="alerta">
					<div class="row">
						<div class="col-xs-1 text-center">
							<div class="imagen-alerta"></div>
						</div>
						<div class="col-md-11 col-xs-11">
							<p>
								<h:outputText value="#{msg.mensajeComisiones}" />
							</p>
						</div>
					</div>
				</div>
				<hr />
				<div class="col-sm-12">
					<table class="table table-sm table-hover">
						<thead>
							<tr>
								<th scope="col"><h:outputText value="#{msg.comisionEnvio}" /></th>
								<th scope="col"><h:outputText value="#{msg.detalle}" /></th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td><h:outputText
										value="#{confirmarTransferenciaRippleBackingMB.comisionRipple.comisionEnvio}" />
								</td>
								<td><h:outputText
										value="#{confirmarTransferenciaRippleBackingMB.comisionRipple.descTipoComision}" />
								</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
		<div id="tf_confirmacion" class="form_confirmacion" style="display:;">
			<h:panelGroup
				rendered="#{autorizadorUtilityMB.esPermitido('transferencias-Monex-1a1','Autorizar')}">
				<segundaclave:metodoAutenticacion id="segundaclave"
					servicio="TransferenciasMxUnoAUno" layout="vertical"
					bindingComponent="confirmarTransferenciaRippleBackingMB.segundaClave"
					textoButtonAction="#{msg.btnConfirmar}"
					destinoButtonAction="#{confirmarTransferenciaRippleBackingMB.aceptarTransferenciaRipple()}"
					destinoButtonRetorno="#{transferenciasMonexBackingMB.volver}"
					textoButtonRetorno="#{msg.btnVolver}" mensaje="">
				</segundaclave:metodoAutenticacion>
			</h:panelGroup>
		</div>
		<div class="panel panel-default">
			<h:panelGroup
				rendered="#{autorizadorUtilityMB.esPermitido('transferencias-Monex-1a1','Autorizar')}">
				<div class="col-sm-12 text-center">
					<h:commandButton type="submit" class="btn btn-success btnConfirmar"
						rel="btn-aceptar" value="#{msg.btnAceptar}"
						action="#{confirmarTransferenciaRippleBackingMB.aceptarTransferenciaRipple()}">
					</h:commandButton>
				</div>
			</h:panelGroup>
		</div>
	</h:form>
</h:body>
</html>

<!--
/***************************************************************************************************************
* Archivo:             confirmarTransferenciasRipple.xhtml
* Descripción          Vista de confirmación de transferencias Ripple.
* Path                 /weblogic/fuentes/webAppCluster/public_html/cl/bci/aplicaciones/productos/servicios/transferencia/ripple/confirmarTransferenciasRipple.xhtml
* " Todos los derechos reservados por Banco de Crédito e Inversiones."              
* Historia Cambios
* _____________________
* versión   fecha         autor                                       				 cambios
* =======   ==========    ========================================== 				 =================================
* 1.0       25/02/2019    Raul E Perez (Everis)- Minheli Mejias (Ing. Soft. BCI)     versión inicial.
****************************************************************************************************************/
 -->