<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.prime.com.tr/ui">
<f:metadata>
	<f:event
		listener="#{transferenciasRippleBackingMB.cargarTransferenciaRealizadasRipple}"
		type="preRenderView"></f:event>
</f:metadata>
<h:head>
	<h:outputStylesheet
		library="Webbci/empresa/productos/servicios/ripple/css"
		name="ripple.css" />
	<h:outputScript name="global.js" library="Webbci/common/js"
		target="head" />
	<f:loadBundle
		basename="#{resolutorResourceBundleMB.obtieneResourceBundle('cl.bci.aplicaciones.productos.servicios.transferenciaripple.transferenciaRipple')}"
		var="msg" />
</h:head>
<h:body>
	<div class="container-fluid">
		<h2 class="tit-nsc">
			<h:outputText value="#{msg.tituloConsultaTransferencias}" />
		</h2>
	</div>
	<h:form id="consultaForm">
		<div class="panel panel-default">
			<div class="panel-heading">
				<div class="row">
					<div class="col-sm-6">
						<b class="lead"> <h:outputText
								value="#{msg.consultaTransferencias}" />
						</b>
					</div>
					<div class="col-sm-6">
						<div class="col-sm-4 alineacion-derecha">
							<p:calendar id="fechaDesde" sytleClass="date"
								value="#{transferenciasRippleBackingMB.fechaDesde}"
								mindate="#{transferenciasRippleBackingMB.fechaDesdeMinima}"
								maxdate="#{transferenciasRippleBackingMB.fechaHastaMaximo}"
								pattern="#{msg.fechaPattern}" dir="RTL"
								inputClass="calendar_ch date" locale="es" navigator="true"
								widgetVar="calwidget" timeZone="#{msg.timeZone}"
								readOnlyInputText="true" />
						</div>
						<div class="col-sm-1 center-label">
							<h:outputText value="#{msg.hasta}" />
						</div>
						<div class="col-sm-4">
							<p:calendar id="fechaHasta"
								value="#{transferenciasRippleBackingMB.fechaHasta}"
								styleClass="date" pattern="#{msg.fechaPattern}" dir="RTL"
								maxdate="#{transferenciasRippleBackingMB.fechaHastaMaximo}"
								mindate="#{transferenciasRippleBackingMB.fechaDesdeMinima}"
								inputClass="calendar_ch date" locale="es" navigator="true"
								widgetVar="calwidget" timeZone="#{msg.timeZone}"
								readOnlyInputText="true" />
						</div>
						<div class="col-sm-2 no-padding">
							<h:commandButton class="btn date btn-success"
								action="#{transferenciasRippleBackingMB.filtrarTransferenciasRealizadasRipple}"
								value="#{msg.buscar}">
								<f:ajax render="consultaForm:tablaConsulta" event="click"
									execute="fechaDesde fechaHasta" onevent="validarFechas"
									listener="#{transferenciasRippleBackingMB.filtrarTransferenciasRealizadasRipple}" />
							</h:commandButton>
						</div>
					</div>
				</div>
			</div>
			<div class="panel-body">
				<div id="operaciones_wrapper"
					class="dataTables_wrapper form-inline dt-bootstrap no-footer">
					<div class="simple-margin">
						<p:dataTable id="tablaConsulta" var="tConsulta" paginator="true"
							paginatorPosition="bottom" emptyMessage="#{msg.noHayRegistros}"
							value="#{transferenciasRippleViewMB.transferenciasRealizadas}"
							paginatorTemplate=" {CurrentPageLink} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink}"
							styleClass="borderless" widgetVar="tConsulta"
							rows="#{transferenciasRippleViewMB.registrosPorPagina}">
							<f:facet name="header">
								<div class="col-sm-6 alineacion-izquierda">
									<div id="operaciones_length">
										<label class="simple-label">#{msg.mostrar} <h:selectOneMenu
												id="selectOneDestinatario" class="form-control input-sm"
												value="#{transferenciasRippleViewMB.registrosPorPagina}">
												<f:selectItem itemLabel="#{msg.numeroDiez}"
													itemValue="#{msg.numeroDiez}" />
												<f:selectItem itemLabel="#{msg.numeroVeinticinco}"
													itemValue="#{msg.numeroVeinticinco}" />
												<f:selectItem itemLabel="#{msg.numeroCincuenta}"
													itemValue="#{msg.numeroCincuenta}" />
												<f:selectItem itemLabel="#{msg.numeroCien}"
													itemValue="#{msg.numeroCien}" />
												<f:ajax event="change" immediate="true" />
											</h:selectOneMenu> #{msg.registrosPorPagina}
										</label>
									</div>
								</div>
								<div class="col-sm-6 alineacion-derecha buscador">
									<p:outputPanel>
										<h:panelGroup layout="block">
											<p:outputPanel>
												<h:outputText class="simple-label" value="#{msg.buscar} " />
												<p:inputText id="globalFilter" onkeyup="tConsulta.filter();"
													styleClass="caja-busca"
													onkeydown="if(event.keyCode == 13) return false;" />
												<p:watermark for="globalFilter" value="" />
											</p:outputPanel>
										</h:panelGroup>
									</p:outputPanel>
								</div>
							</f:facet>
							<p:column styleClass="col-5porc">
								<h:panelGroup layout="block"
									rendered="#{tConsulta.estado == msg.aprobada}">
									<div class="icono-check"></div>
								</h:panelGroup>
								<h:panelGroup layout="block"
									rendered="#{tConsulta.estado == msg.rechazada}">
									<div class="icono-peligro"></div>
								</h:panelGroup>
								<h:panelGroup layout="block"
									rendered="#{tConsulta.estado == msg.enProcesoDeFirma}">
									<div class="icono-reloj"></div>
								</h:panelGroup>
							</p:column>
							<p:column headerText="#{msg.numeroOperacion}"
								filterBy="#{tConsulta.correlativoInterno}"
								filterMatchMode="contains" styleClass="col-15porc"
								sortBy="#{tConsulta.correlativoInterno}">
								<h:outputText class="custom-blue"
									value="#{tConsulta.correlativoInterno}" />
							</p:column>
							<p:column headerText="#{msg.beneficiario}"
								filterBy="#{tConsulta.beneficiario.nombre}"
								filterMatchMode="contains" styleClass="col-15porc"
								sortBy="#{tConsulta.beneficiario.nombre}">
								<h:outputText value="#{tConsulta.beneficiario.nombre}" />
							</p:column>
							<p:column headerText="#{msg.pais}"
								filterBy="#{tConsulta.beneficiario.paisCuenta.valor}"
								filterMatchMode="contains" styleClass="col-15porc"
								sortBy="#{tConsulta.beneficiario.paisCuenta.valor}">
								<h:outputText value="#{tConsulta.beneficiario.paisCuenta.valor}" />
							</p:column>
							<p:column headerText="#{msg.moneda}"
								filterBy="#{tConsulta.cuentaOrigen.moneda.valor}"
								filterMatchMode="contains" styleClass="col-15porc"
								sortBy="#{tConsulta.cuentaOrigen.moneda.valor}">
								<h:outputText value="#{tConsulta.cuentaOrigen.moneda.valor}" />
							</p:column>
							<p:column headerText="#{msg.monto}"
								filterBy="#{tConsulta.montoTransferir}"
								filterMatchMode="contains" styleClass="col-15porc"
								sortBy="#{tConsulta.montoTransferir}">
								<h:outputText value="#{tConsulta.montoTransferir}">
									<f:convertNumber pattern="#{msg.numberPattern}"
										locale="#{msg.localeCL}" />
								</h:outputText>
							</p:column>
							<p:column headerText="#{msg.fechaOperacion}"
								filterBy="#{tConsulta.fechaOperacion}"
								filterMatchMode="contains" styleClass="col-15porc"
								sortBy="#{tConsulta.fechaOperacion}">
								<h:outputText value="#{tConsulta.fechaOperacion}">
									<f:convertDateTime for="fechaOperacion"
										pattern="#{msg.fechaPattern}" locale="es_CL" />
								</h:outputText>
							</p:column>
							<p:column styleClass="col-5porc">
								<h:panelGroup layout="block"
									rendered="#{tConsulta.estado == msg.aprobada}">
									<div class="icono-descarga-roja">
										<h:commandLink
											action="#{transferenciasRippleBackingMB.generarComprobanteTransferenciaRippleRealizada()}"
											title="#{msg.generarPDF}" value="#{msg.generarPDF}"
											target="_blank">
										</h:commandLink>
									</div>
								</h:panelGroup>
								<h:panelGroup layout="block"
									rendered="#{tConsulta.estado != msg.aprobada}">
									<div class="icono-descarga-gris"></div>
								</h:panelGroup>
							</p:column>
						</p:dataTable>
					</div>
				</div>
			</div>
		</div>
	</h:form>
</h:body>
</html>

<!--
/***************************************************************************************************************
* Archivo:             consultarTransferenciasPendientesRipple.xhtml
* Descripción          Vista de detalle de transferencias pendientes Ripple.
* Path                 /cl/bci/aplicaciones/productos/servicios/transferencia/ripple/consultarTransferenciasPendientesRipple.xhtml
* " Todos los derechos reservados por Banco de Crédito e Inversiones."              
* Historia Cambios
* ______________________
* versión   fecha         autor                                       				 cambios
* =======   ==========    ========================================== 				 =================================
* 1.0       12/03/2019    Raul E Perez (Everis)- Minheli Mejias (Ing. Soft. BCI)     versión inicial.
****************************************************************************************************************/
 -->