<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets">
<f:metadata>
	<f:event listener="#{transferenciasRippleBackingMB.initialize}"
		type="preRenderView"></f:event>
</f:metadata>
<h:head>
	<h:outputStylesheet
		library="Webbci/empresa/productos/servicios/ripple/css"
		name="ripple.css" />
	<h:outputScript library="Webbci/common/js" name="jquery-1.5.2.min.js" />
	<h:outputScript library="Webbci/empresa/productos/servicios/ripple/js"
		name="ripple.js" />
	<f:loadBundle
		basename="#{resolutorResourceBundleMB.obtieneResourceBundle('cl.bci.aplicaciones.productos.servicios.transferenciaRipple.transferenciaRipple')}"
		var="msg" />
</h:head>
<h:body>
	<h:form id="transferForm">

		<!-- 	Datos del destinatario -->
		<h:inputHidden id="iHNombreDest"
			value="#{confirmarTransferenciaRippleBackingMB.transferenciaRipple.datosDestin.destinatario}" />
		<h:inputHidden id="iHMonedaTransf"
			value="#{confirmarTransferenciaRippleBackingMB.transferenciaRipple.datosDestin.monedaTransf}" />
		<h:inputHidden id="iHPaisCuenta"
			value="#{confirmarTransferenciaRippleBackingMB.transferenciaRipple.datosDestin.paisCuenta}" />
		<h:inputHidden id="iHNumeroDeCuentaIBAN"
			value="#{confirmarTransferenciaRippleBackingMB.transferenciaRipple.datosDestin.numeroCuenta}" />
		<h:inputHidden id="iHRefDest"
			value="#{confirmarTransferenciaRippleBackingMB.transferenciaRipple.datosDestin.referencia}" />

		<!-- Datos del beneficiario -->
		<h:inputHidden id="iHNombre"
			value="#{confirmarTransferenciaRippleBackingMB.	transferenciaRipple.datosBenef.nombre}" />
		<h:inputHidden id="iHDireccion"
			value="#{confirmarTransferenciaRippleBackingMB.transferenciaRipple.datosBenef.direccion}" />
		<h:inputHidden id="iHMail"
			value="#{confirmarTransferenciaRippleBackingMB.transferenciaRipple.datosBenef.email}" />
		<h:inputHidden id="iHPais"
			value="#{confirmarTransferenciaRippleBackingMB.transferenciaRipple.datosBenef.pais}" />

		<!-- 		Datos de la transferencia -->
		<h:inputHidden
			value="#{confirmarTransferenciaRippleBackingMB.motivoPago}" />
		<h:inputHidden id="iHMontoTransf"
			value="#{confirmarTransferenciaRippleBackingMB.strMontoATransferir}" />
		<h:inputHidden
			value="#{transferenciasRippleBackingMB.strMontoATransferir}" />
		<h:inputHidden id="iHNCtaOrig"
			value="#{confirmarTransferenciaRippleBackingMB.cuentaOrigen.numeroCuenta}" />
		<h:inputHidden
			value="#{confirmarTransferenciaRippleBackingMB.codigoCambio.codigoCambio}" />

		<!-- 			Datos del banco -->
		<h:inputHidden id="iHNombreDireccion"
			value="#{confirmarTransferenciaRippleBackingMB.transferenciaRipple.datosBanco.nombreDireccion}" />
		<h:inputHidden id="iHBIC"
			value="#{confirmarTransferenciaRippleBackingMB.transferenciaRipple.datosBanco.codigoSwift}" />
		<h:inputHidden id="iHCodCambio"
			value="#{confirmarTransferenciaRippleBackingMB.transferenciaRipple.datosBanco.codigoCambio}" />

		<h:inputHidden id="iHNCodMon"
			value="#{confirmarTransferenciaRippleBackingMB.monedaRipple.codigoIso}" />
		<h:inputHidden id="iHNNomMon"
			value="#{confirmarTransferenciaRippleBackingMB.monedaRipple.nombreMoneda}" />
		<h:inputHidden id="iHSalSim"
			value="#{confirmarTransferenciaRippleBackingMB.simboloMoneda}" />
		<div class="container-fluid">
			<h2 class="tit-nsc">
				<h:outputText value="#{msg.titulo}" />
			</h2>
			<h:panelGroup
				rendered="#{transferenciasRippleBackingMB.errorFeriado}">
				<div class="mensaje-alerta">
					<p>
						<h:outputText value="#{msg.mensajeDiaFeriado}" />
					</p>
				</div>
			</h:panelGroup>
			<h:panelGroup
				rendered="#{not transferenciasRippleBackingMB.errorFeriado}">
				<div class="row">
					<div class="col-md-12">
						<!-- Stepers Wrapper -->
						<ul class="stepper stepper-horizontal">
							<!-- First Step -->
							<li class="active"><span class="circle"><h:outputText
										value="#{msg.numeroUno}" /></span> <span class=""></span> <h:outputText
									value="#{msg.paso1Texto}" /></li>
							<!-- Second Step -->
							<li class=""><span class="circle"><h:outputText
										value="#{msg.numeroDos}" /></span> <span class=""><h:outputText
										value="#{msg.paso2Texto}" /></span></li>
							<!-- Third Step -->
							<li class=""><span class="circle"><h:outputText
										value="#{msg.numeroTres}" /></span> <span class=""><h:outputText
										value="#{msg.paso3Texto}" /></span></li>
						</ul>
					</div>
				</div>
				<div class="cont_servicios">
					<div class="fondo"></div>
				</div>
				<div class="panel panel-default">
					<div class="panel-heading">
						<b class="lead"> <h:outputText value="#{msg.paso1Texto}" />
						</b>
					</div>
					<div class="panel-body">
						<div class="row">
							<div class="col-sm-6 form-group">
								<label for="moneda-transf"><h:outputText
										value="#{msg.monedaTransferencia}" /></label>
								<h:selectOneMenu
									class="select2 form-control select2-hidden-accessible validar"
									id="codigoIso"
									value="#{transferenciasRippleBackingMB.monedaRipple.codigoIso}">
									<f:selectItem itemLabel="Seleccione" itemValue="0" />
									<f:selectItems value="#{transferenciasRippleBackingMB.monedas}"
										var="item" itemLabel="#{item.nombreMoneda}"
										itemValue="#{item.codigoIso}" />
									<f:ajax event="change"
										listener="#{transferenciasRippleBackingMB.cambiaSeleccionMoneda}"
										immediate="true"
										render=":transferForm:numeroCuentaOrigen saldo :transferForm:destinatario transferForm:datosBeneficiarios" />
								</h:selectOneMenu>
							</div>
							<div class="col-sm-6 form-group">
								<label for="cuenta-origen"><h:outputText
										value="#{msg.cuentaOrigen}" /></label>
								<h:selectOneMenu
									class="select2 form-control select2-hidden-accessible validar"
									title="#{msg.correspondeCuentaCargoFondos}"
									id="numeroCuentaOrigen"
									value="#{transferenciasRippleBackingMB.cuentaOrigen.numeroCuenta}">
									<f:selectItem itemLabel="Seleccione" itemValue="0" />
									<f:selectItems
										value="#{transferenciasRippleViewMB.cuentasOrigen}" var="item"
										itemLabel="#{item.numeroCuenta}"
										itemValue="#{item.numeroCuenta}" />
									<f:ajax event="change"
										listener="#{transferenciasRippleBackingMB.obtenerSaldoCuenta}"
										immediate="true" render="saldo" />
								</h:selectOneMenu>
							</div>
						</div>
						<div class="row">
							<div class="col-sm-6">
								<p>
									<b><h:outputText value="#{msg.saldoDisponible}" /></b>
								</p>
								<h:panelGroup id="saldo">
									<p class="mega text-success">
										<h:outputText
											value="#{transferenciasRippleBackingMB.simboloMoneda} #{transferenciasRippleBackingMB.saldoDisponible}" />
										<h:inputHidden id="saldoDisponible"
											value="#{transferenciasRippleBackingMB.saldoDisponible}" />
										<h:inputHidden id="simboloMoneda"
											value="#{transferenciasRippleBackingMB.simboloMoneda}" />
									</p>
								</h:panelGroup>
							</div>
							<div class="col-sm-6">
								<div class="form-group">
									<label for="monto-liq"><h:outputText
											value="#{msg.montoTransferir}" /></label>
									<h:inputText autocomplete="off"
										class="form-control validartext"
										value="#{transferenciasRippleBackingMB.strMontoATransferir}"
										onchange="formatNumero(this);"
										onkeypress="return validarNumeros(event);" maxlength="6"
										id="ValidMonto" name="ValidMonto">
									</h:inputText>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-sm-12 form-group">
								<label for="motivo"><h:outputText
										value="#{msg.motivoDetalleTransferencia}" /></label>
								<h:inputTextarea class="form-control validartextarea"
									validatorMessage="#{msg.mensajeCaracteresEspeciales}"
									
									id="motivo" placeholder="#{msg.maxCaracteres}" maxlength="#{msg.numeroCien}">
									<!--<f:validateRegex pattern="#{caracteresAceptadops}" />-->
								</h:inputTextarea>
								<h:message for="motivo" class="custom-red" />
							</div>
						</div>
					</div>
				</div>
				<div class="panel panel-default">
					<div class="panel-heading">
						<b class="lead"><h:outputText value="#{msg.datosDestinatario}" /></b>
					</div>
					<div class="panel-body">
						<div class="form-group row">
							<label for="destinatario" class="col-sm-3"><h:outputText
									value="#{msg.destinatario}" /></label>
							<div class="col-sm-9">
								<h:panelGroup id="destinatario">
									<h:selectOneMenu id="selectOneDestinatario"
										class="select2 form-control select2-hidden-accessible validar"
										value="#{transferenciasRippleViewMB.destinRipple.identificacion}">
										<f:selectItem itemLabel="Seleccione" itemValue="0" />
										<f:selectItems
											value="#{transferenciasRippleViewMB.beneficiariosRipple}"
											var="item" itemLabel="#{item.nombre}"
											itemValue="#{item.identificacion}" />
										<f:ajax event="change"
											listener="#{transferenciasRippleBackingMB.obtenerDetalleDelBeneficiario}"
											execute="transferForm:codigoIso" immediate="true"
											render="transferForm:datosBeneficiarios iHDestinatario iHIdentDest" />
									</h:selectOneMenu>
									<h:inputHidden id="iHDestinatario"
										value="#{transferenciasRippleViewMB.destinRipple.nombre}" />
									<h:inputHidden id="iHIdentDest"
										value="#{transferenciasRippleViewMB.destinRipple.identificacion}" />
								</h:panelGroup>
							</div>
						</div>
						<h:panelGroup id="datosBeneficiarios" layout="block">
							<h:panelGroup
								rendered="#{transferenciasRippleViewMB.destinRipple.identificacion != 0 and transferenciasRippleViewMB.destinRipple.identificacion != null}"
								layout="block">
								<div class="">
									<div class="row">
										<div class="col-sm-6">
											<label for="ciudad1"><h:outputText
													value="#{msg.monedaTransferencia}" /></label>
											<p>
												<h:outputText
													value="#{transferenciasRippleBackingMB.monedaRipple.nombreMoneda}" />
											</p>
										</div>
										<div class="col-sm-6">
											<label for="comuna1"><h:outputText
													value="#{msg.paisCuenta}" /></label>
											<p>
												<h:outputText
													value="#{transferenciasRippleViewMB.detBenefRpp.nombrePaisRes}" />
												<h:inputHidden id="paisCuenta"
													value="#{transferenciasRippleViewMB.detBenefRpp.nombrePaisRes}" />
											</p>
										</div>
										<div class="col-sm-6">
											<label for="nombre1"><h:outputText
													value="#{msg.numeroDeCuentaIBAN}" /></label>
											<p>
												<h:outputText
													value="#{transferenciasRippleViewMB.detBenefRpp.ctaCorriente}" />
												<h:inputHidden id="numeroDeCuentaIBAN"
													value="#{transferenciasRippleViewMB.detBenefRpp.ctaCorriente}" />
											</p>
										</div>
										<div class="col-sm-6">
											<label><h:outputText value="#{msg.referencia}" /></label>
											<p>
												<h:outputText
													value="#{transferenciasRippleViewMB.destinRipple.identificacion}" />
											</p>
										</div>
									</div>
								</div>
								<div class="row">
									<hr />
									<div class="col-sm-12">
										<p class="lead">
											<h:outputText value="#{msg.datosBeneficiario}" />
										</p>
									</div>
									<div class="col-sm-4">
										<label><h:outputText value="#{msg.nombre}" /></label>
										<p>
											<h:outputText
												value="#{transferenciasRippleViewMB.detBenefRpp.nombre}" />
											<h:inputHidden id="nombre"
												value="#{transferenciasRippleViewMB.detBenefRpp.nombre}" />
										</p>
									</div>
									<div class="col-sm-4">
										<label><h:outputText value="#{msg.direccion}" /></label>
										<p>
											<h:outputText
												value="#{transferenciasRippleViewMB.detBenefRpp.direccion}" />
											<h:inputHidden id="direccion"
												value="#{transferenciasRippleViewMB.detBenefRpp.direccion}" />
										</p>
									</div>
									<div class="col-sm-4">
										<label><h:outputText value="#{msg.mail}" /></label>
										<p>
											<h:outputText
												value="#{transferenciasRippleViewMB.detBenefRpp.email}" />
											<h:inputHidden id="mail"
												value="#{transferenciasRippleViewMB.detBenefRpp.email}" />
										</p>
									</div>
									<div class="col-sm-4">
										<label><h:outputText value="#{msg.pais}" /></label>
										<p>
											<h:outputText
												value="#{transferenciasRippleViewMB.detBenefRpp.nombrePaisRes}" />
											<h:inputHidden id="pais"
												value="#{transferenciasRippleViewMB.detBenefRpp.nombrePaisRes}" />
										</p>
									</div>
									<div class="col-sm-4">
										<label><h:outputText value="#{msg.ciudad}" /></label>
										<p>
											<h:outputText
												value="#{transferenciasRippleViewMB.detBenefRpp.infoAdicional}" />
										</p>
									</div>
								</div>
								<div class="row">
									<hr />
									<div class="col-sm-12">
										<p class="lead">
											<h:outputText value="#{msg.datosBancoBeneficiario}" />
										</p>
									</div>
									<div class="col-sm-6">
										<label><h:outputText value="#{msg.bci}" /></label>
										<p>
											<h:outputText
												value="#{transferenciasRippleViewMB.nodoRipple.bic}" />
											<h:inputHidden id="bic"
												value="#{transferenciasRippleViewMB.nodoRipple.bic}" />
										</p>
									</div>
									<div class="col-sm-6">
										<label for="nombreempresa"><h:outputText
												value="#{msg.nombreDireccion}" /></label>
										<p>
											<h:outputText
												value="#{transferenciasRippleViewMB.detBenefRpp.nombreBanco} - #{transferenciasRippleViewMB.detBenefRpp.nombrePaisBco}" />
											<h:inputHidden id="nombreD"
												value="#{transferenciasRippleViewMB.detBenefRpp.nombreBanco}" />
											<h:inputHidden id="nDireccion"
												value="#{transferenciasRippleViewMB.detBenefRpp.nombrePaisBco}" />
										</p>
									</div>
								</div>
								<div class="form-group row">
									<label for="cod-cambio" class="col-sm-3"><h:outputText
											value="#{msg.codigoCambio}" /></label>
									<div class="col-sm-9">
										<h:selectOneMenu id="selectCodigosCambio"
											class="select2 form-control select2-hidden-accessible validar"
											title="#{msg.codigoCambio}"
											disabled="#{transferenciasRippleBackingMB.selectCodigosCambioDisabled}"
											value="#{transferenciasRippleBackingMB.codigoCambio.codigoCambio}">
											<f:selectItem itemLabel="Seleccione" itemValue="0" />
											<f:selectItems
												value="#{transferenciasRippleViewMB.codigosCambio}"
												var="item" itemLabel="#{item.descripcion}"
												itemValue="#{item.codigoCambio}" />
										</h:selectOneMenu>
									</div>
								</div>
							</h:panelGroup>
						</h:panelGroup>
					</div>
				</div>
				<div class="alerta">
					<div class="row">
						<div class="col-xs-1 text-center">
							<div class="imagen-alerta"></div>
						</div>
						<div class="col-md-11 col-xs-11">
							<p>
								<h:outputText value="#{msg.mensajeIngresarHorario}" />
							</p>
							<p>
								<h:outputText value="#{msg.mensajeIngresarComision}" />
							</p>
						</div>
					</div>
				</div>
				<div class="col-sm-12 text-center">
					<h:commandButton type="submit"
						class="btn btn-success validaciones-entrada ingresar-a-confirmar"
						rel="btn-aceptar" value="#{msg.btnAceptar}"
						action="#{confirmarTransferenciaRippleBackingMB.confirmarTransferenciaRipple}">
					</h:commandButton>
				</div>
			</h:panelGroup>
		</div>
	</h:form>
</h:body>
</html>
<!--
/***************************************************************************************************************
* Archivo:             ingresarTransferenciaRipple.xhtml
* Descripción          Vista de ingreso de transferencias Ripple.
* Path                 /weblogic/fuentes/webAppCluster/public_html/cl/bci/aplicaciones/productos/servicios/transferencia/ripple/ingresarTransferenciaRipple.xhtml
* " Todos los derechos reservados por Banco de Crédito e Inversiones."              
* Historia Cambios
* _____________________
* versión   fecha         autor                                            					 cambios
* =======   ==========    ==========================================       					 =================================
* 1.0       25/02/2019    Belkys López G (Everis)- Minheli Mejias (Ing. Soft. BCI)   			versión inicial.
****************************************************************************************************************/

-->