<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets">
	<div class="modal-content">
		<div class="modal-header">
			<h4 class="modal-title" id="myModalLabel">
				<h:outputText value="#{msg.InformacionTransferencia}" />
			</h4>
		</div>
		<div class="modal-body">
			<div class="row">
				<div class="col-sm-12">
					<p class="lead">
						<h:outputText value="#{msg.paso1Texto}" />
					</p>
				</div>
				<div class="col-sm-4">
					<label for="moneda-transf"> <h:outputText
							value="#{msg.monedaTransferencia}" />
					</label>
					<p>
						<h:outputText
							value="#{transferenciasRippleBackingMB.transferenciaSelected.cuentaOrigen.moneda.valor}">
							<f:convertNumber pattern="#{msg.numberPattern}"
								locale="#{msg.localeCL}" />
						</h:outputText>
					</p>
				</div>
				<div class="col-sm-4">
					<label for="cuenta-origen"> <h:outputText
							value="#{msg.cuentaOrigen}" />
					</label>
					<p>
						<h:outputText
							value="#{transferenciasRippleBackingMB.transferenciaSelected.cuentaOrigen.numeroCuenta}" />
					</p>
				</div>
				<div class="col-sm-4">
					<label> <h:outputText value="#{msg.saldoDisponible}" />
					</label>
					<p class="mega text-success">
						<h:outputText
							value="#{transferenciasRippleBackingMB.transferenciaSelected.cuentaOrigen.simboloMoneda}
								   ">
						</h:outputText>
							<h:outputText
							value="#{transferenciasRippleBackingMB.transferenciaSelected.cuentaOrigen.saldoDisponible}">
						</h:outputText>
					</p>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-4">
					<div class="form-group">
						<label for="monto-liq" class=""> <h:outputText
								value="#{msg.montoTransferir}" />
						</label>
						<p class="mega text-primary">
							<h:outputText
								value="#{transferenciasRippleBackingMB.transferenciaSelected.montoTransferir}" />
						</p>
					</div>
				</div>
				<div class="col-sm-4">
					<label for="moneda-com"> <h:outputText
							value="#{msg.gastosBancarioExterior}" />
					</label>
					<p>
						<h:outputText
							value="#{transferenciasRippleBackingMB.transferenciaSelected.gastoBancoExterior.valor}" />
					</p>
				</div>
				<div class="col-sm-4">
					<label for="cuenta-com"> <h:outputText
							value="#{msg.monedaComision}" />
					</label>
					<p>
						<h:outputText
							value="#{transferenciasRippleBackingMB.transferenciaSelected.cuentaCargoComision.moneda.valor}" />
					</p>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-4">
					<label for="cuenta-com"> <h:outputText
							value="#{msg.cuentaCargoComision}" />
					</label>
					<p>
						<h:outputText
							value="#{transferenciasRippleBackingMB.transferenciaSelected.cuentaCargoComision.numeroCuenta}" />
					</p>
				</div>
				<div class="col-sm-8">
					<label for="motivo"> <h:outputText
							value="#{msg.motivoDetalleTransferencia}" /></label>
					<p>
						<h:outputText value="#{transferenciasRippleBackingMB.motivoPago}" />
						<h:outputText
							value="#{transferenciasRippleBackingMB.transferenciaSelected.motivoPago}" />
					</p>
				</div>
			</div>
			<div class="row">
				<hr>
				<div class="col-sm-12">
					<p class="lead">
						<h:outputText value="#{msg.datosDestinatario}" />
					</p>
				</div>
				<div class="form-group col-sm-12">
					<div class="col-sm-3">
						<label for="destinatario" class="col-sm-3"> <h:outputText
								value="#{msg.destinatario}" />
						</label>
					</div>
					<div class="col-sm-3">
						<p class="mega text-primary">
							<h:outputText
								value="#{transferenciasRippleBackingMB.transferenciaSelected.beneficiario.nombre}" />
						</p>
					</div>
				</div>
				</hr>
			</div>
			<div class="row">
				<hr>
				<div class="col-sm-3">
					<label> <h:outputText value="#{msg.monedaTransferencia}" />
					</label>
					<p>
						<h:outputText
							value="#{transferenciasRippleBackingMB.transferenciaSelected.beneficiario.cuenta.moneda.valor}">
							<f:convertNumber pattern="#{msg.numberPattern}"
								locale="#{msg.localeCL}" />
						</h:outputText>
					</p>
				</div>
				<div class="col-sm-3">
					<label> <h:outputText value="#{msg.paisCuenta}" />
					</label>
					<p>
						<h:outputText
							value="#{transferenciasRippleBackingMB.transferenciaSelected.beneficiario.cuenta.numeroCuenta}" />
					</p>
				</div>
				<div class="col-sm-3">
					<label> <h:outputText value="#{msg.numeroDeCuentaIBAN}" />
					</label>
					<p>
						<h:outputText
							value="#{transferenciasRippleBackingMB.transferenciaSelected.beneficiario.nombrePaisBeneficiario}" />
					</p>
				</div>
				<div class="col-sm-3">
					<label> <h:outputText value="#{msg.referencia}" />
					</label>
					<p>
						<h:outputText
							value="#{transferenciasRippleBackingMB.transferenciaSelected.beneficiario.referencia}" />
					</p>
				</div>
				</hr>
			</div>
			<div class="row">
				<hr>
					<div class="col-sm-12">
						<p class="lead">
							<h:outputText value="#{msg.datosBeneficiario}" />
						</p>
					</div>
				<div class="col-sm-3">
					<label> <h:outputText value="#{msg.nombre}" />
					</label>
					<p>
						<h:outputText
							value="#{transferenciasRippleBackingMB.transferenciaSelected.beneficiario.nombre}" />
					</p>
				</div>
				<div class="col-sm-3">
					<label> <h:outputText value="#{msg.direccion}" />
					</label>
					<p>
						<h:outputText
							value="#{transferenciasRippleBackingMB.transferenciaSelected.beneficiario.direccion}" />
					</p>
				</div>
				<div class="col-sm-3">
					<label> <h:outputText value="#{msg.mail}" />
					</label>
					<p>
						<h:outputText
							value="#{transferenciasRippleBackingMB.transferenciaSelected.beneficiario.mail}" />
					</p>
				</div>
				<div class="col-sm-3">
					<label> <h:outputText value="#{msg.pais}" />
					</label>
					<p>
						<h:outputText
							value="#{transferenciasRippleBackingMB.transferenciaSelected.beneficiario.nombrePaisBeneficiario}" />
					</p>
				</div>
				</hr>
			</div>
			<div class="row">
				<hr>
					<div class="col-sm-12">
						<p class="lead">
							<h:outputText value="#{msg.datosBancoBeneficiario}" />
						</p>
					</div>
					<div class="col-sm-4">
						<label> <h:outputText value="#{msg.bci}" />
						</label>
						<p>
							<h:outputText
								value="#{transferenciasRippleBackingMB.transferenciaSelected.bancoBeneficiario.codigoSwift}" />
						</p>
					</div>
					<div class="col-sm-8">
						<label> <h:outputText value="#{msg.nombreDireccion}" />
						</label>
						<p>
							<h:outputText
								value="#{transferenciasRippleBackingMB.transferenciaSelected.bancoBeneficiario.nombreDireccion}" />
						</p>
					</div>
				</hr>
			</div>
			<div class="form-group row">
				<label for="cod-cambio" class="col-sm-3"> <h:outputText
						value="#{msg.codigoCambio}" />
				</label>
				<div class="col-sm-9">
					<h:outputText value="#{msg.SCCT}" />
				</div>
			</div>
		</div>
	</div>
</ui:composition>
<!--
/***************************************************************************************************************
* Archivo:             verDetalleTransferenciaRipple.xhtml
* Descripción          Vista del detalle de transferencias Ripple.
* Path                 /weblogic/fuentes/webAppCluster/public_html/cl/bci/aplicaciones/productos/servicios/transferencia/ripple/verDetalleTransferenciaRipple.xhtml
* " Todos los derechos reservados por Banco de Crédito e Inversiones."              
* Historia Cambios
* _____________________
* versión   fecha         autor                                             			      cambios
* =======   ==========    ==========================================       					  =================================
* 1.0       07/03/2019    Belkys López (Everis)- Minheli Mejias (Ing. Soft. BCI) 			  versión inicial.
****************************************************************************************************************/

-->